*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
.hero{
	width: 100%;
	height: 100vh;
	background-image: url(../portfolio/coding2.jpg);
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 45px;
	padding-right: 8%;
	padding-left: 8%;
	
}
.logo{
	color: white;
	font-size: 34px;
	cursor: pointer;


}
.logo span{
	color: #f54260;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}
a:hover{
	color: #f54260;
}
nav ul li a{
	text-decoration: none;
	font-weight: bold;
	color: white;
	font-size: 18px;
}
nav ul li a: hover{
	color: #f54260;
	transition: 4s;
}
.btn{
	text-decoration: none;
	background-color: #f54260;
	color: white;
	padding: 12px 25px;
	border-radius: 45px;
	font-size: 18px;
	transition: transform .4s;
}
.btn:hover{
	color: white;
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
left: 8%;
transform: translateY(-50%);
}
h1{
	font-size: 50px;
	color: white;
	margin: 10px;
}
h3{
	font-size: 25px;
	color: white;
	margin: 10px;
}
h4{
	font-size: 20px;
	color: white;
}
.newslatter form{
	width: 380px;
	position: relative;
	max-width: 100%;

}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f54260;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #f54260;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
}
h1 span{
	color: #f54260;
}
.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	justify-content: space-around;
	align-items: center;
	display: flex;
}
.about-text h2{
	color: white;
	font-size: 60px;
	margin-bottom: 25px;
}
.about-text h5{
	color: white;
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 25px;

}
.about-text h5 span{
	color:#f54260;
}
.about-text p{
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 20px;
	color: white;
	text-align: justify;
}
button{
	padding: 13px 30px;
	font-size: 18px;
	border-radius: 40px;
	margin-top: 20px;
	background-color: #f54260;
	color: white;
	border: 2px solid transparent;
	font-weight: bold;
}
button:hover{
background-color: transparent;
border: 2px solid #f54260;
cursor: pointer;
}
.Service{
	width: 100%;
	background: #191919;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 60px;
	width: 1130px;
	text-align: center;
	margin: 30px auto;
}
.box{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 400px;
}
.cards{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
	border-radius: 20px;
}
.cards i{
	color: white;
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 18px;
	margin-bottom: 25px;
}
.pra{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
	text-align: justify;
}
.cards .button{
	text-decoration: none;
	padding: 12px 25px;
	background-color:#f9004d ;
	border-radius: 30px;
	color: white;
}
.cards .button:hover{

background-color: transparent;
border: 2px solid #f54260;
cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 200px;
	background: #191919;
	flex-direction: column;
	justify-content: center;
	display: flex;
	align-items: center;
}
.contact-me p{
	color: white;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 25px;
}
.button-two{
	text-decoration: none;
	padding: 12px 25px;
	background-color:#f9004d ;
	border-radius: 30px;
	color: white;
	font-size: 16px;
	font-weight: bold;

}
 .button-two:hover{

background-color: black;
border: 2px solid #f54260;
cursor: pointer;
color: white;
}
footer{
	width: 100%;
	position: relative;
	height: 400px;
	background: 101010;
	flex-direction: column;
	align-items: center;
}

